.UserFriendSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.UserFriendSearch > .InputSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    width: 100%;
    
}

/* .UserFriendSearch > .InputSection > input:focus{
    scale: 1.01;
}

.UserFriendSearch > .InputSection > input:focus + button{
    scale: 1.01;
    margin-left: -5rem;
} */

.UserFriendSearch > .InputSection > input{
	outline: none;
	border: none;
	border-radius: 10rem;
	min-width: 15rem;
	max-width: 50%;
	height: 2.5rem;
	font-size: 0.8rem;
	font-family: Inter, sans-serif;
	font-weight: 500;
	box-shadow: 0px 0px 20px 0px #3e91444c;
	transition: all 0.4s ease-in-out;
	background-color: rgba(255, 255, 255, 0);
	border: 1px #45a049 solid;
	color: #ffffff;
	margin: 0;
}

.UserFriendSearch > .InputSection > button{
  border: 1px #45a04900 solid;
  animation-name: BodyBackground;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 1rem 10rem 10rem 1rem;
  height: 2.2rem;
  width: 8rem;
  margin-left: -8.2rem;
  font-size: 0.9rem;
  font-family: Inter, sans-serif;
  font-weight: 450;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease-in-out;
}

.UserFriendSearch > .InputSection > button:hover{
    box-shadow: 0px 0px 10px 5px #3e91444c;
    border: 1px #45a049 solid;
    color: #9dcfa0;
}

.FriendsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.FriendsTitle > h2{
    margin: 0;
    font-weight: 300;
}

.FriendsTitle > div{
    width: 28%;
    height: 0.3rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    border: 1px solid #3e9144;
    transition: all 0.5s ease-in-out;
}

.UserFriendSuggestions{
    animation-name: BodyBackgroundLight;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: fixed;
    top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    width: 50%;
    min-width: 15rem;
    box-shadow: 0px 0px 3px 0px #3e91444c;
    border-radius: 2rem;
}

.UserFriendSuggestions > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.3rem;
    width: 100%;
    border-radius: 1.5rem;
}

.UserFriendSuggestions > div:hover{
    background-color: #1b3f25;
}

.UserFriendSuggestions > div > h3{
    margin: 1rem 0 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 350;
}

.UserFriendSuggestions > div > button, .UserFriendSuggestions > div > div > button{
    background-color: #00000000;
    color: white;
    border: 1px #45a049 solid;
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    width: 15rem;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    margin-right: 1rem;
    width: 6rem;
}

.UserFriendSuggestions > div > button:hover, .UserFriendSuggestions > div > div > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.UserFriendSuggestions > div > div{
    width: 15rem;
}

.FriendRequestsList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.FriendRequestsList > article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    transition: all 0.5s ease-in-out;
    border-bottom: 0px #45a04900 solid;
    border-radius: 2rem;
}

.FriendRequestsList > article:hover{
    border-bottom: 1px #45a049 solid;
    box-shadow: 0px 8px 12px 0px #3e91444c;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.FriendRequestsList > article > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    width: 15rem;
}

.FriendRequestsList > article > h3{
    margin: 0 0.5rem 0 0.5rem;
    font-weight: 300;
    padding: 0.8rem 0 0.8rem 0;
}

.FriendRequestsList > article > h4{
    margin: 0;
    font-weight: 300;
    padding: 0.5rem 0 0.5rem 0;
}

.FriendRequestsList > article > div > h4, .UserFriendSuggestions > div > div > h4{
    margin: 0 1rem 0 0;
    font-weight: 300;
    padding: 1rem 0 1rem 0;
    color: rgba(230, 230, 230, 0.925);
    font-size: 1.1rem;
    text-align: right;
}

.FriendRequestsList > article > div > button{
    background-color: #00000000;
    color: white;
    border: 1px #45a049 solid;
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    width: 15rem;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem;
    border-radius: 2rem;
    outline: none;
    margin-right: 1rem;
    width: 6rem;
}

.FriendRequestsList > article > div > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.FriendsList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}

.FriendsList > article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    padding: 0.5rem 0 0.5rem 0;
}

.FriendsList > article:hover{
    border-bottom: 1px #45a049 solid;
    box-shadow: 0px 8px 12px 0px #3e91444c;
    padding: 0.6rem 0.5rem 0.6rem 1rem;
    cursor: pointer;
}

.FriendsList > article > h3{
    margin: 0;
    font-weight: 300;
    color: rgba(230, 230, 230, 0.925);
    font-size: 1.2rem;
    text-align: right;
}

.FriendsList > h3{
    font-weight: 100;
    font-size: 1.4rem;
}

.FriendNameAndProfit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.1rem;
}

.FriendNameAndProfit > h3, .FriendNameAndProfit > p{
    margin: 0.2rem;
    font-family: Inter, sans-serif;
}

.FriendNameAndProfit > h3{
    font-weight: 300;
    width: 5rem;
    text-align: left;
}

.FriendNameAndProfit > p{
    font-size: 0.95rem;
    font-weight: 350;
}

.DeleteButtonContainer{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DeleteButtonContainer > button{
    background: none;
    border: none;
}

.FriendsList > article:hover .DeleteButtonContainer{
    opacity: 1;
    pointer-events: all;
    scale: 1.15;
}

.FriendsList > article:hover .plAndDeleteContainer > p{
    opacity: 0;
    margin: 0;
}

.FriendsList > article:hover .FriendNameAndProfit{
    font-size: 1.1rem;
    text-shadow: #45a049 1px 0 5px;

}

.plAndDeleteContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.plAndDeleteContainer > p{
    margin: 0;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 700px) {

    .FriendsList{
        margin-top: 1rem;
    }

    .FriendsTitle > div{
        width: 20%;
    }

    .FriendsList > article:hover{
        padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    }

    .FriendRequestsList > article > div{
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 0rem;
        width: 15rem;
    }

    .FriendRequestsList > article{
        width: 80%;
    }

    .FriendRequestsList > article > div > button{
        width: 5rem;
        margin-right: 0.3rem;
    }

}