.BarContainerAi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    height: 15vh;
}

.BarAAi{
    background-color: #bb1515;
    width: 1rem;
    height: 3rem;
    border-radius: 5rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 1s;
    animation-delay: 0s, 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarBAi{
    background-color: #45a049;
    width: 1rem;
    height: 4rem;
    border-radius: 5rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 1s;
    animation-delay: 0.3s, 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarCAi{
    background-color: #bb1515;
    width: 1rem;
    height: 5rem;
    border-radius: 5rem;
    margin-top: 1rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 1s;
    animation-delay: 0.6s, 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarDAi{
    background-color: #45a049;
    width: 1rem;
    height: 6rem;
    border-radius: 5rem;
    margin-bottom: 0.2rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 1s;
    animation-delay: 0.9s, 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarEAi{
    background-color: #45a049;
    width: 1rem;
    height: 5rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 1s;
    animation-delay: 1.2s, 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes FunLogoAnimation2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.7rem);
    }
    100%{
        transform: translateY(0px);
    }
}