.BarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
    height: 85vh;
}

.BarContainer > h2{
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Inter, sans-serif;;
    font-weight: 500;
    z-index: 1000;
    background: linear-gradient(90deg, #ffffff 25%, #8e8e8e 50%, #ffffff 75%);
    background-size: 200% 100%;
    animation-name: shimmer;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BarA{
    background-color: #bb1515;
    width: 4rem;
    height: 11.2rem;
    border-radius: 5rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarB{
    background-color: #45a049;
    width: 4rem;
    height: 14.4rem;
    border-radius: 5rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarC{
    background-color: #bb1515;
    width: 4rem;
    height: 15.2rem;
    border-radius: 5rem;
    margin-top: 5rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarD{
    background-color: #45a049;
    width: 4rem;
    height: 18.4rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.BarE{
    background-color: #45a049;
    width: 4rem;
    height: 15.2rem;
    border-radius: 5rem;
    margin-bottom: 8rem;
    animation-name: FunLogoAnimation2;
    animation-duration: 2s;
    animation-delay: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.LongLoadingMessage{
    opacity: 0;
    position: absolute;
    top: 17rem;
    width: 100%;
    font-weight: 250;
    font-size: 1.5rem;
    color: #e6e6e6;
    text-shadow: 3px 3px 2px #45a049;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

@keyframes FunLogoAnimation2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0px);
    }
}