
html{
    scroll-behavior: smooth;
}

a{
    color: white;
} 

.StockSymbol{
    background-color: #3e9143;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    height: 40px;
    text-align: center;
}

.StockDetailsTitle > span{
    margin-left: 1rem;
}

.Selector > .BuyStockButton{
    background-color: #00000000;
    color: white;
    border-radius: 5rem;
    border: 1px #ffffff solid;
    font-family: Inter, sans-serif;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.Selector > .BuyStockButton:hover{
    background-color: #45a0491f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.ToBuyContent > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.ToBuyContent > header > div{
    display: flex;
    align-items: center;
    justify-content: center;
}


.TitleLogo{
    margin-right: 1rem;
    border-radius: 1.2rem;
    width: 65px;
    transition: all 0.5s ease-in-out;
}

.TitleLogo:hover{
    animation-name: littleSpin;
    animation-iteration-count: 1;
    animation-duration: 1s;
    background-clip: text;
    cursor: pointer;
}

.MiniNameSymbolSection{
    display: flex;
    align-items: flex-start;
    gap: 0.4rem;
}

.TitleBox > section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
}

.TitleBox{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.MainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
}

.StockDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
    width: 100%;
}


.SectionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.Selector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    max-width: 100%;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.Selector > button{
    background-color: #00000000;
    color: white;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    /* padding: 1rem 0.1rem 1rem 0.1rem; */
    font-size: 1rem;
    font-family: Inter, sans-serif;
    width: 7rem;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.Selector > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    color: white;
}

.CompanyInfoDisplayed{
    margin: 0.5rem 0 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    width: 98%
}

.CompanyInfoDisplayed > .CompInfoTable{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2.5rem;
}

.CompInfoTable .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    /* margin: 0 0.5rem 0 0.5rem; */
    border: 1px #45a0499a solid;
    border-radius: 1rem;
    padding: 1rem;
}

.CompInfoTable .Row:hover{
    
}

.CompInfoTable .Row h4{
    margin:  0 0 0 1rem;
    font-family: Inter, sans-serif;
    font-weight: 550;
    font-size: 1.1rem;
}

.CompInfoTable .Row p, .CompInfoTable .Row a{
    margin:  0 1rem 0 0;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}



.StockCompanyDetailsTable{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.CompanyInfoDisplayed > div > h2{
    text-align: left;
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.CompanyInfoDisplayed > div{
    text-align: left;
    font-weight: 300;
    font-family: Inter, sans-serif;
}

.StockDataDisplayed{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;

}

.RowOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.RowTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.ChatDisplayed{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;

}

.Chat{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    overflow-y: auto;
    max-height: 24rem;
    min-height: 23rem;
    width: 100%;
    padding-bottom: 5rem;
}

.UserMessageDisplayed{
    display: inline-flex;
    background-color: rgba(210, 210, 210, 0);
    border: 1px #45a049 solid;
    border-radius: 2rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-align: right;
}

.UserMessageDisplayed > h2{
    display: inline;
    margin: 0;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 200;
}


.ChatQueryBar{
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: fixed;
    bottom: 0rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 5rem;
    width: 100%;
}

.ChatQueryBar > input{
    margin: 0;
    border-radius: 10rem 10rem 10rem 10rem;
    height: 3rem;
    width: 80%;
    border: none;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    box-shadow: 0px 2px 10px 5px #0000004c;
}

.ChatQueryBar > input:focus{
    outline: none;
    box-shadow: 0px 2px 10px 5px #3e91444c;
}

.ChatQueryBar > button > div{
    position: relative;

}

.ChatQueryBar > button{
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    left: -2.9rem;
    border-radius: 10rem;
    width: 2.7rem;
    height: 2.7rem;
    background-color: #00000000;
    color: white;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    transition: all 0.5s ease-in-out;
}

.ChatQueryBar > button:hover{
    animation-name: BodyBackgroundLight;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0px 0px 10px 2px #3e91444c;
    scale: 1.02;
}

.Description > p{
    text-align: left;
}

.StockDetailsTableData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    width: 100%;
    max-width: 10rem;
}

.ClosePrevClose > h5, .StockDataOpen{
	font-weight: 400;
}

.StockDetailsAddress{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.StockDataDisplayed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.AiMessageDisplayed{
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    font-family: Inter, sans-serif;
}


.AiMessageDisplayed > h2{
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 300;
    text-align: left;
    margin-left: 1rem;
}

.StockDetailsColumnOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: left;
  }

.StockDetailsColumnTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    background-color: #28312972;
    text-align: left;
  }

.StockDetailsColumnThree{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: left;
  }

.StockDetailsColumnFour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    background-color: #28312972;
    text-align: left;
  }

.StockDetailsColumnFive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: left;
  }

.StockDetailsContainer{
    overflow-y: scroll;
    width: 100%;
    height: 20rem;
}

.OwnedStocksTable{
    margin-top: 1rem;
}

.OwnedStocksTable > table{
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
}

.ColumnTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px white solid;
    padding: 1rem;
    border-radius: 1rem;
    height: 16rem;
}

.ColumnOne{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px white solid;
    padding: 1rem;
    border-radius: 1rem;
    height: 16rem;
}

.ColumnTwoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.Selector > .OverviewSelected, .Selector > .CompanyInformationSelected, .Selector > .StockDataSelected, .Selector > .OwnedStocksSelected, .Selector > .NewsSelected, .Selector > .AIAssistantSelected{
    border: 1px #3e9144a2 solid;
    color: white;
    /* font-weight: 500; */
    background-color: #3e9144a2;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.StockData{
    width: 100%;
}

.OpenMarketArticle, .CloseMarketArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem 0 1rem 0;

}

.OpenMarketArticle{
    background-color: #45a049;
    box-shadow: 0px 0px 5px 1px #3e91444c;
}

.CloseMarketArticle{
    background-color: rgba(22, 19, 44, 0.325);
    box-shadow: 0px 0px 5px 1px rgba(22, 19, 44, 0.325);
}

.OpenMarketArticle > img, .CloseMarketArticle > img{
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.OpenMarketArticle > h2, .CloseMarketArticle > h2{
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
}

.StockDataMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.StockDataMain > .StockDataMainLeft{
    width: 40rem;
}

.StockDataMain > .StockDataMainRight{
    width: 30rem;
}

.StockDataMain > div{
    width: 100%;
}

.lastUpdated{
    color: #ededed;
    font-weight: 350;
}

.VolumeContainer{
    background-color: rgba(255, 255, 255, 0.079);
    width: 100%;
    height: 1rem;
    border-radius: 5rem;
    overflow: hidden;
}

.VolumeFill{
    width: 50%;
    height: 100%;
}

.genericFlexRow > .ClosePrevClose{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.genericFlexRow > .ClosePrevClose > .ClosePrevClosePerc{
    font-size: 0.95rem;
}

.StockDetailsTitle{
	display: flex;
	align-items: center;
    text-align: left;
    margin: 0;
}

.StockDetailsPrice{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.StockDetailsPrice > h2{
    margin: 0rem 0 0rem 0;
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
}

.StockDetailsPrice > h2:hover{
    background: linear-gradient(90deg, #ffffff 25%, #45a04974 50%, #ffffff 75%);
    background-size: auto;
    background-clip: border-box;
    background-size: 200% 100%;
    animation-name: shimmer;
    animation-iteration-count: 1;
    animation-duration: 2s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

@media (max-width: 1075px) {
    .TitleBox{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .CompleteSelector{
        justify-content: center;
    }

    .Selector{
        gap: 1rem;
    }

    .Selector > button{
        width: 6rem;
        font-size: 0.85rem;
	    padding: 0rem 0.5rem 0 0.5rem;
    }

    .CompanyInfoDisplayed{
        margin-left: 0;
    }

    .OpenMarketArticle > img, .CloseMarketArticle > img{
        width: 2rem;
    }

    .OpenMarketArticle > h2, .CloseMarketArticle > h2{
        margin: 0;
        font-family: Inter, sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

@media (max-width: 847px) {
    .Selector{
        margin: 0;
    }
}

@media (max-width: 665px) {
    .CompInfoTable .Row{
        padding: 0.8rem;
    }

    .CompInfoTable .Row h4{
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    .CompInfoTable .Row p, .CompInfoTable .Row a{
        margin-right: 0.5rem;
        font-size: 0.95rem;
    }
}

@media (max-width: 600px) {

    .StockData{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .OpenMarketArticle, .CloseMarketArticle{
        width: 80%;
    }


    .TitleBox{
        margin: 0;
    }

    .Selector > button{
        width: 5rem;
		font-size: .75rem;
		height: 2.6rem;
    }

    .BuyStockButton{
        padding: 0.8rem;
        width: 7rem;
        font-size: 1.1rem;
    }

    .CompanyInfoDisplayed .CompInfoTable{
        gap: 0.2rem;
    }

    .CompInfoTable .Row{
        gap: 1rem;
        padding: 0.6rem;
    }
    .CompInfoTable .Row h4{
        margin-left: 0.2rem;
    }

    .CompInfoTable .Row p, .CompInfoTable .Row a{
        margin-right: 0.2rem;
        font-size: 0.85rem;
    }

    .StockDetails{
        padding: 0;
    }

    .CompanyInfoDisplayed > .Desc{
        padding-left: 1rem;
    }

    .Selector{
        gap: 0.5rem;
    }
}

@media (max-width: 420px) {

    .StockDataMainRight > .genericFlexRow > h4{
        font-size: 0.9rem;
        margin: 0;
    }

    .StockDataMainRight > .genericFlexRow > h5{
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0.8rem 0rem 0.8rem 0;
    }

    .StockDataMainRight > .genericFlexRow > .ClosePrevClose > h4{
        margin: 0.8rem 0rem 0.8rem 0;
    }

    .StockDataMainRight > .genericFlexRow > .ClosePrevClose > h6{
        font-size: 0.75rem;
        margin: 0.8rem 0rem 0.8rem 0;
    }

    .StockDataMainRight > .genericFlexRow > .ClosePrevClose > h5{
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0.8rem 0rem 0.8rem 0;
    }

}

@media (max-width: 400px) {
    .TitleBox{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .TitleBox > section{
        justify-content: center;
    }

    .CompleteSelector{
        justify-content: center;
    }

    .Selector{
        gap: 0.5rem;
    }

    .Selector > button{
        width: 5rem;
        font-size: 0.8rem;
        padding: 0rem;
        height: 2.5rem;
    }

    .BuyStockButton{
        padding: 0.5rem;
        width: 8rem;
        font-size: 1.1rem;
    }

    .TitleLogo{
        width: 3rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
    }

    .TitleBox > section > h1{
        font-size: 1.5rem;
        transition: all 0.5s ease-in-out;
    }

    .StockDetailsTitle > span{
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .StockDetailsPrice > h2{
        font-size: 1.2rem;
    }

    .CompanyInfoDisplayed .CompInfoTable{
        gap: 0.1rem;
    }

    .CompInfoTable .Row{
        gap: 0.5rem;
        padding: 0.4rem;
        border-radius: 0.7rem;
    }
    .CompInfoTable .Row h4{
        margin-left: 0.2rem;
    }

    .CompInfoTable .Row p, .CompInfoTable .Row a{
        margin-right: 0.2rem;
        font-size: 0.85rem;
    }

    .OpenMarketArticle > img, .CloseMarketArticle > img{
        width: 1.5rem;
    }

    .OpenMarketArticle > h2, .CloseMarketArticle > h2{
        margin: 0;
        font-family: Inter, sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .StockDetailsTitle{
        font-size: 1.4rem;
        text-align: center;
    }

    .StockDetailsPrice {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@keyframes littleSpin {
 0%{
    transform: rotateY(720deg);
 }
 100%{
    transform: rotateY(0deg);
 }

}


