* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.portfolio-page {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  
  .portfolio-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .portfolio-page p {
    font-size: 1.2rem;
    max-width: 600px;
  }

  .PortfolioSummary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.9rem;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3rem;
  }

  .PortfolioSummary > div{
    width: 17rem;
  }

  .tdLogoButton, .tdLogoButton:hover{
    background: none;
    border: none;
    transition: all 0.5s ease-in-out;
  }

  .tdLogoButton:hover{
    scale: 1.1;
  }

  .PortfolioSummary > div > h4{
    font-size: 1.4rem;
    color: rgb(194, 200, 196);
    font-family: Inter, sans-serif;
    font-weight: 350;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .PortfolioSummary > div > h5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    margin: 0;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
  }

   .PortfolioSummary > div > h5 > span{
    margin-left: 5px;
    font-size: 1.3rem;
   }

  .PortfolioSummary > div > h3{
    font-size: 1.6rem;
    color: rgb(194, 200, 196);
    font-family: Inter, sans-serif;
    font-weight: 450;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .PortfolioSummary > .PortfolioSummaryCenter > h4{
    font-size: 1.8rem;
    color: white;
    font-family: Inter, sans-serif;
    margin: 0;
    font-weight: 350;
    transition: all 0.5s ease-in-out;
  }

  .QuickStats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    top: 3vw;
    gap: 5vw;
    padding: 0 1vw;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.PageTitle{
  font-size: 2rem;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  font-family: Inter, sans-serif;
  font-weight: 350;
}

.PageTitleHoldings{
  font-size: 2rem;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 350;
}

.genericFlexRow{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem
}

.LineOne{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5rem;
  background-color: white;
  height: 2px;
  width: 40vw;
  margin: 0 auto;
  border-radius: 10rem;
}

.LineTwo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5rem;
  background-color: white;
  height: 4px;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 10rem;
}

.StocksTable{
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100vw;
  max-height: 500px;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.ModalContent {
  animation-name: BodyBackground;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 1rem 0 1rem;
  border: 1px #45a049 solid;
  box-shadow: 0px 0px 10px 1px #3e91444c;
  width: 95%;
}

.ModalContent h2{
  padding: 1rem;
}

.ModalFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  padding: 0 1rem 1rem 1rem;
}

.ModalFooter > button{
  border: 1px #45a049 solid;
  background-color: #45a04900;
  border-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px 1px #3e91444c;
}

.ModalFooter > button:hover{
  border: 1px #45a049 solid;
  background-color: #45a0497f;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0 3px 5rem 1rem rgba(0, 0, 0, 0.599);
  font-family: Inter, sans-serif;
}


.ModalContent table{
  margin: 0;
  margin-bottom: 1rem;

}

.ModalContent div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteLogo{
  width: 1.6rem;
  border-radius: 0.5rem;
  margin-right: 3px;

}

/* Stocks Table */
  
.Table {
  margin: 0 auto;
  min-width: 1000px; 
  max-width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5rem;
  font-family: Inter, sans-serif;
}

.BestTable {
  margin: 0 auto;
  min-width: 1000px; 
  max-width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  font-family: Inter, sans-serif;
  background: linear-gradient(90deg, #e2e2e2 25%, #45a049 50%, #e2e2e2 75%);
  background-size: 200% 100%;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MostProfitableTable{
  width: 100%;
  overflow-x: auto;
  max-width: 100vw;
}

.ProftibleTitle{
  margin-top: 10rem;
  background: linear-gradient(90deg, #e2e2e2 25%, #45a049 50%, #e2e2e2 75%);
  background-size: 200% 100%;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

tr:nth-child(even){background-color: #2831298b}

tr:nth-child(odd){background-color: rgba(7, 17, 20, 0.271)}

td{
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 1rem;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
}

th{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #45a049;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
	font-weight: 400;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.thLogo{
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
}

.thCompanies{
  padding: 1.5rem 0rem 1.5rem 0rem;
  text-align: start;
}

.thBoughtPrice{
  padding: 0 1rem 0 1rem;
}

.thCurrentValue{
  padding: 0 ;
}

.thProfit{
  padding: 0 1rem 0 1rem;
}

.thPercent{
  padding: 0 ;
}

.tdLogo{

}

.tdCompanies{
  padding: 1rem 0rem 1rem 0rem;
}

.tdBoughtPrice{
  padding: 1rem 0rem 1rem 0rem;
}

.tdCurrentValue{
  padding: 1rem 0rem 1rem 0rem;
}

.tdProfit{
  padding: 1rem 0rem 1rem 1rem;
  
}

.tdPercent{
  padding: 1rem 1rem 1rem 0.3rem
}

.tdCurrentValue > div, .tdBoughtPrice > div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tdCurrentValue > div > span, .tdBoughtPrice > div > span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 250;
  font-size: 0.9rem;
}

.StockLogos{
  width: 35px;
  border-radius: 0.5rem;
}

.tdCompanies > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tdBoughtPrice > div{
  display: flex;
  align-items: center;
  justify-content: center;
}


.tdCompanies > div > div > button, .tdCompanies > div > div{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: none;
  border: none;
}

.tdBoughtPrice > div > div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.tdCompanies > div > div > button > h3, .tdCompanies > div > div > h3{
  font-size: 1.2rem;
}

.tdCompanies > div > div > button > h3, .tdCompanies > div > div > h3, .tdCompanies > div > div > p, .tdBoughtPrice > div > div > button > h3, .tdBoughtPrice > div > div > p{
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 500;
  text-align: left;
}

.tdCompanies > div > div > button > span, .tdCompanies > div > div > span{
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}

.tdBoughtPrice > div > div > span{
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 250;
  font-size: 0.9rem;
}

.tdCompanies > div > div > button> span{
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.tdProfit > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tdProfit > div > div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.tdProfit > div > div > span{
  font-size: 0.9rem;
  text-align: end;
}

@media (max-width: 1120px) {
  .ModalContent .Table{
    min-width: 55rem;
  }
}

@media (max-width: 1020px) {
  th{
    font-size: 1.3rem;
    padding: 0;
  }
  td{
    font-size: 1rem;
    padding: 0 0 0 0.5rem;
  }
  .tdCurrentValue > div > span, .tdBoughtPrice > div > span, .tdBoughtPrice > div > div > span{
    font-size: 0.8rem;
  }

  .tdCompanies > div > div > span{
    font-size: 0.8rem;
  }

  .tdCompanies > div > div{
    align-items: flex-start;
  }

  .tdProfit > div > div > span{
    font-size: 0.8rem;
    text-align: end;
  }

  .tdCompanies > div > div > h3,  .tdCompanies > div > div > p{
    text-align: start;
  }

  .Table{
    min-width: 55rem;
  }

  .ModalContent .Table{
    min-width: 45rem;
  }

  
  .thLogo{
    padding: 0;
  }

  .thCompanies{
    padding: 1.5rem 0rem 1.5rem 1rem;
    text-align: start;
  }

  .thBoughtPrice{
    padding: 0;
  }

  .thCurrentValue{
    padding: 0;
  }

  .thProfit{
    padding: 0;
  }

  .thPercent{
    padding: 0;
  }

  .tdLogoMore{
    scale: 0.8;
  }

  .tdCompanies{
    padding: 1rem 0rem 1rem 0rem 
  }

  .tdBoughtPrice{
    padding: 1rem 0rem 1rem 0rem
  }

  .tdCurrentValue{
    padding: 1rem 0rem 1rem 0rem
  }

  .tdProfit{
    padding: 1rem 0rem 1rem 0rem
  }

  .tdPercent{
    padding: 1rem 1rem 1rem 0.3rem
  }
}

@media (max-width: 900px) {
  .Table{
    min-width: 40rem;
  }
  .StockLogos{
    width: 30px;
  }
}

@media (max-width: 800px) {
  .ModalContent .Table{
    min-width: 35rem;
  }
}

@media (max-width: 660px) {
  .Table{
    min-width: 30rem;
  }
  th{
    font-size: 1.1rem;
    padding: 0;
  }
  td{
    font-size: 0.8rem;
    padding: 0 0 0 0.5rem;
  }
  .tdCurrentValue > div > span, .tdBoughtPrice > div > span, .tdBoughtPrice > div > div > span{
    font-size: 0.7rem;
  }
  .tdCompanies > div > div > span{
    font-size: 0.7rem;
  }

  .tdProfit > div > div > span{
    font-size: 0.7rem;
    text-align: end;
  }

  .thCompanies{
    padding: 1.5rem 0rem 1.5rem 0rem;
  }

  .thBoughtPrice{
    padding: 0 0.8rem 0 0.8rem;
  }

  .thCurrentValue{
    padding: 0 ;
  }

  .thProfit{
    padding: 0 0.8rem 0 0.8rem;
  }

  .thPercent{
    padding: 0 ;
  }

  .tdLogoMore{
    scale: 0.5;
  }

  .DeleteButton{
    scale: 0.7;
  }

  .ModalContent{
    width: 95%;
  }

  .ModalContent .Table{
    min-width: 30rem;
  }

}

@media (max-width: 600px) {
	.tdCompanies > div > div > button > span, .tdCompanies > div > div > span {
	  font-size: 0.7rem;
	}

	.tdCompanies > div > div > button > h3, .tdCompanies > div > div > h3{
	  font-size: 0.9rem;
	}
}

@media (max-width: 550px) {
  .ModalContent .Table{
    min-width: 20rem;
  }
}

@media (max-width: 500px) {
  .Table{
    min-width: 20rem;
  }
  th{
    font-size: 1rem;
    padding: 0;
  }
  .tdCurrentValue > div > span{
    font-size: 0.7rem;
  }
  .tdCompanies > div > div > span{
    font-size: 0.7rem;
  }

  .tdProfit > div > div > span{
    font-size: 0.7rem;
    text-align: end;
  }

  .StockLogos{
    width: 25px;
  }
}

@media (max-width: 360px) {
  th{
    font-size: 0.8rem;
  }
  .tdCompanies > div > div > h3,  .tdCompanies > div > div > p{
    font-size: 0.8rem;
  }

  .tdCompanies > div > div{
    padding-left: 0.5rem;
  }
}








.ViewMore{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: #75ee7b44;
  width: 3rem;
  padding: 1.2rem;
  font-size: 1.1rem;
  color: white;
  z-index: 100rem;
  border: none;
  border: 1px #45a04900 solid;
  border-radius: 10rem;
}

.ViewMore:hover{
  background-color: #75ee7b60;
}

.ArrowOne{
  background-color: white;
  height: 4px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  transform: translateY(5px) translateX(-12px) rotate(45deg);
  width: 1.3rem;
  z-index: 1000rem;

}

.ArrowOne.Top{
  transform: translateY(1px) translateX(-12px) rotate(-45deg);
}

.ArrowTwo{
  background-color: white;
  height: 4px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  transform: translateY(1px) translateX(1px) rotate(-45deg);
  width: 1.3rem;
  z-index: 1000rem;
}

.ArrowTwo.Top{
  transform: translateY(-3px) translateX(1px) rotate(45deg);
}

#Space{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.CrossContainer {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
}

.Cross1{
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #bb1515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.Cross2 {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #bb1515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.DeleteButton{
  padding: 0 0.3rem 0 0;
}

.DeleteButton:hover .Cross1,
.DeleteButton:hover .Cross2 {
  background-color: #920c0c;
  animation-name: DeleteButtonAnimation;
  animation-duration: 3s;
  animation-duration: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.FilterGraph{
  margin: 2rem 2rem 0 2rem;
}

.FilterGraph > article{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: Inter, sans-serif;
}

.FilterGraph > article > button{
  border: 1px #45a049 solid;
  background-color: #45a04900;
  border-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px 1px #3e91444c;

}

.FilterGraph > article > button:hover{
  border: 1px #45a049 solid;
  background-color: #45a0497f;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0 3px 5rem 1rem rgba(0, 0, 0, 0.599);
  font-family: Inter, sans-serif;
}

.Filter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.Filter > input{
  margin-bottom: 0;
  height: 3rem;
  width: clamp(120px, 50%, 60%);
  border-radius: 5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;;
  font-weight: 600;
  box-shadow: 0px 0px 10px 1px #3e91444c;
  transition: all 0.5s ease-in-out;
  background-color: #45a04900;
  color: #ffffff;
  border: 1px #45a049 solid;
}

.Filter > input:focus{
  outline: 1px #45a04979 solid;
  box-shadow: 0 0 2rem 0.4rem #45a049cb;
}

.Filter > select{
  height: 3rem;
  min-width: 10%;
  border-radius: 5rem;
  text-align: center;
  font-size: 1rem;
  font-family: Inter, sans-serif;;
  font-weight: 600;
  box-shadow: 0px 0px 10px 1px #3e91444c;
  transition: all 0.5s ease-in-out;
  outline: none;
  color: white;
  border: 1px #45a049 solid;
  background-color: #45a04900;
}

.Filter > select:focus{
  border: 1px #45a049 solid;
  background-color: #45a049a9;
}

.Filter > select:hover{
  /* appearance: none; */
  border: 1px #45a049 solid;
  background-color: #45a049a9;
}

/* .Filter > button{
  margin-right: 1rem;
  width: clamp(120px, 18%, 200px);
  max-height: 18rem;
  height: 3rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;;
  font-weight: 600;
  box-shadow: 0px 5px 10px 1px #3747384c;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.Filter > button:hover{
  scale: 1.05;
  color: #45a049;
  background-color: white;
  border: 1px #45a049 solid;
} */

.StocksAverageGraph{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  max-width: 90vw;
  margin: 0 auto; 
  margin-bottom: 3rem;
  display: block;
}

.StocksAverageGraph > h2{
  font-weight: 200;
  margin: 0;
}

.StockDetailsTitle{
  text-align: left;
}

.QuickPerformanceCarouselContainer {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.QuickPerformance{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin: 0rem 1rem 1rem 1rem;
  transition: all 0.5s ease-in-out;
}

.QuickPerformance > div, .QuickPerformance > div > div{
  display: flex;
  flex-direction: row;
  gap: 0rem;
}

.QuickPerformance > div > p, .QuickPerformance > div > div > p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0
}

.QuickPerformance > div > div > h3{
  font-size: 1.1rem;
  font-weight: 450;
  width: max-content;
}

.QuickPerformance > div > .CardStock > h4{
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
  width: max-content;
}

.QuickPerformance > div > .CardStock{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
}

.QuickPerformance > div > .CardStock > img{
  width: 3rem;
  border-radius: 0.8rem;
}

@media (max-width: 970px) {
  .QuickPerformance{
    gap: 2rem;
  }

  .QuickPerformance > div > div > h3{
    font-size: 1rem;
    font-weight: 450;
  }

  .QuickPerformance > div > .CardStock > h4{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }

  .QuickPerformance > div > .CardStock{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  .QuickPerformance > div > .CardStock > img{
    width: 2.5rem;
    border-radius: 0.8rem;
  }

}



@media (max-width: 850px) {

  .QuickPerformance{
    gap: 0.8rem;
  }

  
  .QuickPerformance > div > div > h3{
    font-size: 1rem;
    font-weight: 450;
  }

  .QuickPerformance > div > .CardStock > h4{
    font-size: rem;
    font-weight: 300;
    margin: 0;
  }

  .QuickPerformance > div > .CardStock{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  .QuickPerformance > div > .CardStock > img{
    width: 2rem;
    border-radius: 0.5rem;
  }

  
  .QuickPerformance > div > p, .QuickPerformance > div > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 0.8rem;
  }

  .PageTitle{
    font-size: 2rem;
    margin-top: 1.5rem
  }
  .QuickStats{
    gap: 0.1rem;
  }
  .Box1, .Box2, .Box3{
    margin: 1rem;
    width: 15rem;
    font-size: 2rem;
  }

  .PortfolioSummary > div > h3{
    font-size: 1.4rem;
    color: rgb(194, 200, 196);
    font-family: Inter, sans-serif;
    font-weight: 450;
  }


  .PortfolioSummary > .PortfolioSummaryCenter > h4{
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    margin: 0;
    font-weight: 350;
  }

  .FilterGraph > article > button{
    width: 7rem;
  }

  .Filter > input {
    font-size: 0.7rem;
  }
  .ModalFooter{
    gap: 1rem;
  }

  .ModalFooter > button{
    width: 7rem;
  }
}

.PortfolioHoldings{
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #3e91444c 95%);
}

@media (max-width: 608px) {

  .QuickPerformance{
    gap: 0.5rem;
  }

  .PageTitle{
    font-size: 2rem;
    margin-top: 1.5rem
  }
  .QuickStats{
    gap: 0.1rem;
  }
  .Box1, .Box2, .Box3{
    margin: 1rem;
  }
  .FilterGraph > article{
    gap: 0.8rem
  }

  .PortfolioSummary > div > h3{
    font-size: 1rem;
  }

  .PortfolioSummary > div > h4{
    font-size: 1rem;
  }

  .PortfolioSummary > .PortfolioSummaryCenter > h4{
    font-size: 1.3rem;
  }

    .PortfolioSummary > div > h5{
    font-size: 1.3rem;
  }
  

  .PortfolioSummary > div{
    width: 9rem;
  }

  .Filter > select{
    font-size: 0.9rem;
  }

  .StocksAverageGraph > h2{
    font-size: 1.7rem;
  }
  
}

@media (max-width: 550px) {

  .QuickPerformance{
    gap: 0rem;
  }


  .QuickPerformance > div > div > h3{
    font-size: 0.8rem;
    font-weight: 450;
  }

  .QuickPerformance > div > .CardStock > h4{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
  }

  .QuickPerformance > div > p, .QuickPerformance > div > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 0.7rem;
  }

  .QuickPerformance > div > .CardStock{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
  }

  .QuickPerformance > div > .CardStock > img{
    width: 1.5rem;
    border-radius: 0.5rem;
  }

  .FilterGraph > article > button{
    position: relative;
    font-size: 0rem;
    width: 3.5rem;
  }

  .FilterGraph > article > button:hover{
    position: relative;
    font-size: 0rem;
  }

  .FilterGraph > article > .m::after{
    font-size: 1rem;
    content: "M";
  }

  .FilterGraph > article > .y::after{
    font-size: 1rem;
    content: "Y";
  }

    .FilterGraph > article > .w::after{
    font-size: 1rem;
    content: "W";
  }

    .FilterGraph > article > .a::after{
    font-size: 1rem;
    content: "All";
  }
}

@media (max-width: 464px) {
  .PortfolioSummary{
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }

  .PortfolioSummary > div > h3 {
    margin-top: 0rem;
  }

  .PortfolioSummary > div > h4{
    margin-top: 0rem;
  }
}

@keyframes DeleteButtonAnimation {
  0%{
    width: 20px;
  }

  50%{
    width: 25px;
    
  }
  100%{
    width: 20px;
  }

}




