.ToBuyModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000; 
}

.ToBuyContent{
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0px 0px 10px 0px #3e91444c;
    padding: 2rem;
    border-radius: 3rem;
    width: 35rem;
    transition: all 0.5s ease-in-out;
}

.BuyStockTitle{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.BuyStockTitle > h2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    text-align: left;
    gap: 0.5rem;
    font-size: 1.75rem;
}

.BuyStockTitle > h2 > span{
background-color: #3e9143;
  border-radius: 2rem;
  padding: 0;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  height: fit-content;
  text-align: center;
  padding: 0.5rem;
}

.toBuyBody > label{
    margin: 1rem 0 0 0;
    text-align: left;
    font-weight: 300;
}

.toBuyBody > input{
    height: 2.3rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;
}
