/*Everything Here is now unrelated to Home, Keeping here for now while reconfiguring files - Files are for Buy Stock Menus
*/

* {
  box-sizing: border-box;
}

.SomethingSectionTitle{
  width: 39%;
}
.SomethingSection{
  width: 39%;
  height: 10rem;
}

.ToBuyModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000; 
  }
  
  .ToBuyBody{
    padding: 2rem;
    border-radius: 4rem;
    text-align: center;
  }

  .ToBuyContent{
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 1px #45a049 solid;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    padding: 2rem;
    border-radius: 3rem;
    width: 35rem;
    transition: all 0.5s ease-in-out;
  }
  
  .ModalBody {
    margin: 10px 0;
  }
  
  .QuantityInput {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5rem; 
  }
  
  .ToBuyFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1rem;
  }

  .ToBuyFooter > button{
    background-color: #00000000;
    color: white;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    width: 15rem;
    transition: all 0.5s ease-in-out;
  }

  .ToBuyFooter > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
  }  


  .BuyButton{
    min-width: 2rem;
    max-width: 7rem;
    border-radius: 10rem;
  }

  .ViewButton{
    min-width: 2rem;
    max-width: 7rem;
    border-radius: 10rem
  }



  


  .StockLogo{
    margin-right: 0.5rem;
    width: 3.5rem;
    border-radius: 1rem;
  }

  .StockPriceText2{
    margin-top: 0.7rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: Inter, sans-serif;
    font-size: 1.8rem;
  }

  .StockPrice{
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    font-family: Inter, sans-serif;;
    font-weight: 750;
    font-size: 2rem;
    color: #45a049;
  }

  .BuyViewButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    gap: 1vw;
  }

  .StockHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0 0 2rem;
  }

  .StockHeader > h3{
    margin: 0;
    font-size: 2rem;
  }

  .StockHeader > span{
    margin: 0;
    font-size: 1.8rem;
    background-color: #45a049;
    padding: 0.6rem;
    margin-left: -0.6rem;
    border-radius: 1.5rem;
  }

  .StockBody{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .StockBodyLeft, .StockBodyRight{
    width: 25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .StockBodyLeft{
    margin-top: 1rem;
  }

  .StockBodyLeft > div > h4{
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    width: 15rem;
  }

  .StockBodyLeft > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .StockBodyLeft > div > p{
    font-weight: 300;
    font-family: Inter, sans-serif;
  }

  .StockBodyLeft > div > div > p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    font-family: Inter, sans-serif;
  }

  .lhTitles{
    display: flex;
    justify-content: center;
    gap: 60%;
  }

  .StockDailyAveragePoint > span{
    background: #45a049;
    border-radius: 5rem;
    content: "";
    display: block;
    height: 1.5rem;
    width: 3px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    border: 1px #00000031 solid;
  }

  .StockDailyAveragePoint{
    width: 100%;
  }

  .StockFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0 0.5rem 0;
  }

  .StockFooter > button{
    background-color: #00000000;
    color: white;
    outline: none;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    width: 15rem;
    transition: all 0.5s ease-in-out;
  }

  .StockFooter > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
  }

  .BuyStockTitle{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .BuyStockTitle > h2{
    margin: 0;
    text-align: left;
    gap: 0.5rem;
  }

  .toBuyBody > label{
    margin: 1rem 0 0 0;
    text-align: left;
    font-weight: 300;
  }

  .toBuyBody > input{
    height: 2.3rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;
  }


@media (max-width: 900px) {

    .StockBodyLeft{
      margin-top: 1.6rem;
    }
    .StockBodyRight{
      margin-top: 0.5rem;
    }
    .StockFooter > button{
      padding: 0.6rem;
      font-size: 1.2rem;
      width: 13rem;
    }

    .StockBodyLeft > div > h4{
      font-size: 2.8rem;
    }

    .StockLogo{
      width: 3.3rem;
    }

    .StockHeader > span{
      font-size: 1.6rem;
    }
  }


    @media (max-width: 600px) {

    .StockBodyLeft > div > h4{
      font-size: 2.5rem;
    }


    .StockBodyLeft > div > p{
      font-size: 0.9rem;
    }

    .StockHeader{
      margin: 0;
      justify-content: space-around;
    }

    .ToBuyContent{
      width: 25rem;
    }

    .BuyStockTitle > h2{
      font-size: 1.2rem;
    }

    .BuyStockTitle > h2 > .StockSymbol{
      font-size: 1.1rem;
    }

    .StockLogo{
      width: 1rem;
      border-radius: 0.8rem;
    }

  }

  @media (max-width: 420px) {


    .StockLogo{
      width: 2.8rem;
    }

    .StockHeader{
      gap: 0.5rem;
      margin: 0;
    }

    .StockHeader > span{
      font-size: 1.4rem;
      margin: 0;
    }

    .StockHeader > h3{
      font-size: 1.8rem;
    }

    .SearchSuggestions > div > h4{
      font-size: 1rem;
      margin: 1rem 1.7rem 1rem 1rem;
      font-family: Inter, sans-serif;
    }

    .StockBodyLeft > div > h4{
      font-size: 1.8rem;
    }


    .StockBodyLeft > div > p{
      font-size: 0.8rem;
    }

    .StockBodyLeft > div > div > p{
      font-size: 0.9rem;
    }

    .StockDailyRange > h4{
      font-size: 0.9rem;
    }

    .StockDailyRange > p{
      font-size: 0.8rem;
    }

    .lhTitles > h4{
      font-size: 0.9rem;
    }

    .lhTitles > p{
      font-size: 0.8rem;
    }

    .VolumeGFR{
      font-size: 0.9rem;
    }

    .StockBodyRight{
      margin: 0;
    }

    .StockFooter{
      gap: 1rem;
    }

    .StockFooter > button{
      padding: 0.5rem;
    }

    .ToBuyContent{
      width: 90%;
    }
  }

