
  
  .register-container {
    position: relative;
    top: 4rem;
    width: 23rem;
    margin: 0 auto;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid #45a049;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    transition: all 0.5s ease-in-out;
  }

  .register-container.error {
    animation-name: RegisterError;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Inter, sans-serif;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #4e91d8;
    text-decoration: none;
  }
  
  
  .RegisterError {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  
  .UsernameInput{
    border-radius: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
  }

  .UsernameInput:focus{
    box-shadow: 0px 0px 30px 2px #3e91444c;
  }

  .PasswordInput{
    border-radius: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
  }

  .PasswordInput:focus{
    box-shadow: 0px 0px 30px 2px #3e91444c;
  }

  .ConfirmPasswordInput{
    border-radius: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
  }

  .ConfirmPasswordInput:focus{
    box-shadow: 0px 0px 30px 2px #3e91444c;
  }

  .HaveALook{
    font-weight: 200;
    background: linear-gradient(90deg, #e2e2e2 25%, #45a049 50%, #e2e2e2 75%);
    background-size: 200% 100%;
    animation-name: shimmer;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin: 0;
  }

  @media (max-width: 400px) {
    .register-container{
      width: 20rem;
    }
  }

  @keyframes RegisterError {
    0%{
      border: 1px solid #bb1515;
      transform: translateX(-5px);
      
    }
    50%{
      border: 1px solid #bb1515;
      transform: translateX(10px);
    }
    100%{
      border: 1px solid #bb1515;
      transform: translateX(-5px);
    }
  }