.TheLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3px;
    transition: all 0.5s  ease-in-out;
}

.TheLogo > h2{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Inter, sans-serif;;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.5s  ease-in-out;
}

@media (max-width: 600px) {
    .TheLogo > h2{
      font-size: 1.5rem;

    }
    .BarCollection{
        scale: 0.75;
    }
    .TheLogo{
        gap: 0px
    }
  }

.TheLogo > h2:hover{
    background: linear-gradient(90deg, #ffffff 25%, #45a04974 50%, #ffffff 75%);
    background-size: 200% 100%;
    animation-name: shimmer;
    animation-iteration-count: 1;
    animation-duration: 3s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BarCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 0.7rem;
    transition: all 0.5s  ease-in-out;
}

.BarOne{
    background-color: #bb1515;
    width: 0.35rem;
    height: 1rem;
    border-radius: 5rem;
}

.BarTwo{
    background-color: #45a049;
    width: 0.35rem;
    height: 1.3rem;
    border-radius: 5rem;
}

.BarThree{
    background-color: #bb1515;
    width: 0.35rem;
    height: 1.4rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
}

.BarFour{
    background-color: #45a049;
    width: 0.35rem;
    height: 1.6rem;
    border-radius: 5rem;
    margin-bottom: 0.1rem;
}

.BarFive{
    background-color: #45a049;
    width: 0.35rem;
    height: 1.4rem;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}

.TheLogo:hover .BarCollection .BarOne{
    animation-name: FunLogoAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.TheLogo:hover .BarCollection .BarTwo{
    animation-name: FunLogoAnimation;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}

.TheLogo:hover .BarCollection .BarThree{
    animation-name: FunLogoAnimation;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
}

.TheLogo:hover .BarCollection .BarFour{
    animation-name: FunLogoAnimation;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-iteration-count: 1;
}

.TheLogo:hover .BarCollection .BarFive{
    animation-name: FunLogoAnimation;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
}


@keyframes FunLogoAnimation {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }