.StockGraphButtonCollection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.StockGraphButtonCollection > button{
    background-color: #00000000;
    color: white;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    width: 8rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.StockGraphButtonCollection > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px;
}

.StockGraphValues{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.StocksGraph{
display: flex;
align-items: center;
/* justify-content: center; */
flex-direction: column;
/* gap: 1rem; */
height: 475px;
max-width: 90vw;
margin: 0 auto;
margin-bottom: 0px;
margin-bottom: 3rem;
}

.StockIndivdualGraph{
    height: 400px;
    width: 90vw;
    margin: 0 1rem 0 1rem; 
}

.StockIndivdualGraph canvas {
  height: 100% !important;
  width: 100% !important;
}

.StockGraphValues > div > h2{
    font-weight: 250;
    font-size: 1.8rem;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.StockGraphValues > div > h3{
    font-weight: 501;
    margin: 0;
    color: rgb(194, 200, 196);
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1075px) {
    .StockGraphValues > div > h2{
        font-size: 1.8rem;
    }

    .StockGraphValues > div > h3{
    }
}

@media (max-width: 900px) {
    .StockGraphValues > div > h2{
        font-size: 1.5rem;
    }

    .StockGraphValues > div > h3{
    }

    .StockGraphButtonCollection > button{
        padding: 0.5rem;
    }
}

@media (max-width: 660px) {
    .StockGraphValues{
        gap: 1rem;
    }
}

@media (max-width: 780px) {
    .StockGraphValues > div > h2{
        font-size: 1rem;
    }

    .StockGraphValues > div > h3{
        font-size: 0.9rem
    }

    .StockGraphButtonCollection > button{
        padding: 0.5rem;
    }
}

@media (max-width: 625px) {
    .StockGraphButtonCollection > button{
        width: 3.5rem;
    }

    .StockGraphButtonCollection > .w{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .w::after{
        content: "1W";
        font-size: 1rem;
    } 

    .StockGraphButtonCollection > .m{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .m::after{
        content: "1M";
        font-size: 1rem;
    } 

    .StockGraphButtonCollection > .threem{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .threem::after{
        content: "3M";
        font-size: 1rem;
    } 

        .StockGraphButtonCollection > .y{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .y::after{
        content: "Y";
        font-size: 1rem;
    } 

    .StockGraphButtonCollection > .threey{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .threey::after{
        content: "3Y";
        font-size: 1rem;
    } 

    .StockGraphButtonCollection > .a{
        position: relative;
        font-size: 0px;
    }

    .StockGraphButtonCollection > .a::after{
        content: "All";
        font-size: 1rem;
    } 
}

@media (max-width: 560px) {

    .CompleteSelector{
        margin-top: 0rem;
    }
    
    .StockGraphButtonCollection{
        gap: 0.7rem;
        width: 100vw;
    }
    .StockGraphButtonCollection > button{
        padding: 0.4rem 0 0.4rem 0;
    }
    .StocksGraph{
        margin-top: 0.2rem;
    }

    .TitleBox > section{
        margin-top: 0rem;
    }
}

@media (max-width: 400px) {
    .StockGraphValues > div > h2{
        font-size: 0.9rem;
    }

    .StockGraphValues > div > h3{
        font-size: 1rem;
    }

    .StocksGraph{
        margin-top: 1rem;
    }

    .TitleBox > section{
        margin-top: 1rem;
    }

}



