.WarningPopUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 1px #45a049 solid;
    height: 20rem;
    width: 40rem;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 1px #3e91444c;
}

.WarningPopUp > div{
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > .WarningPopUpButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 30%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > div > div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > div > div > img{
    width: 5rem;
    margin: 2rem;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > div > div > h2{
    font-family: Inter, sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 1.4rem;
    transition: all 0.5s ease-in-out;
    margin-right: 1rem;

}

.WarningPopUp > div > div > div > p{
    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
    transition: all 0.5s ease-in-out;
    margin-right: 1rem;
}

.WarningPopUp > div > div > div > button{
    position: relative;
    background-color: #00000000;
    color: white;
    outline: none;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    width: 12rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    margin: 0 2rem 1rem 0;
    transition: all 0.5s ease-in-out;
}

.WarningPopUp > div > div > div > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 700px) {
    .WarningPopUp{
        width: 30rem;
        height: 15rem;
    }
    .WarningPopUp > div > div > div > h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .WarningPopUp > div > div > div > p{
        font-size: 0.9rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }

    .WarningPopUp > div > div > div > img{
        width: 4rem;
    }

    .WarningPopUp > div > div > div > button{
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 8rem;
    }
}

@media (max-width: 500px) {
    .WarningPopUp{
        width: 20rem;
        height: 10rem;
    }
    .WarningPopUp > div > div > div > h2{
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .WarningPopUp > div > div > div > p{
        font-size: 0.75rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .WarningPopUp > div > div > div > img{
        width: 2rem;
        margin-left: 1.5rem;
    }

    .WarningPopUp > div > div > div > button{
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 6rem;
    }
}